version: '3.8'

services:
  wordle-tracker:
    image: ghcr.io/robert-mccausland/janitor-bot:${VERSION}
    restart: unless-stopped 
    environment:
      TOKEN: ${TOKEN}
      OFFICE_CHANNEL_ID: "1443583282443845834"
      DEFAULT_CHANNEL_ID: "1291056400289632369"
      TIMEZONE: "Europe/London"

